extends ../layouts/default

include ../components/card/profile-card
include ../components/forms/contact-form

block content
  .flex-col.items-center.bg-gray-100.pt-28
    .container.mx-auto.p-4
      h1.text-3xl.font-bold.text-blue-600 Еремчук Олеся Анатольевна
      p.text-gray-700.mt-4 Репетитор по русскому языку и литературе

      //- Карточка учителя
      +profile-card(
        'images/download.png',
        'Еремчук Олеся Анатольевна',
        'Учитель высшей категории, стаж 15 лет',
        'Помогаю ученикам полюбить русский язык и литературу. Готовлю к ОГЭ, ЕГЭ, итоговому сочинению.'
      )

      //- Форма контактов
      +contact-form()