doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Еремчук Олеся Анатольевна
    link(rel="stylesheet", href="css/main.css")
    link(rel="stylesheet", href="css/custom.css")
  body(class="font-sans text-base")
    .w-full(class="sm:w-[90%] md:max-w-[1200px] lg:max-w-[1400px] xl:max-w-[1920px] mx-auto px-4")
      
      include ../components/ui/navbar
      
      +navbar([
        { text: 'Главная', link: '/' },
        { text: 'О нас', link: '/about' },
        { text: 'Контакты', link: '/contacts' }
      ])
                  
      main
        block content