doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= pageTitle || "Мой проект"
    link(rel="stylesheet", href="css/main.css")
    link(rel="stylesheet", href="css/custom.css")
  body(class="bg-gray-100")
    block content